<a href="https://colab.research.google.com/github/Martliz/Python_Analisis_de_Datos/blob/repositorio_git/Copia_de_Copia_de_Pruebapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
def a (b,c):
    return b-c
    return 5
print(a(2,1))

1

In [ ]:
variable_name = "" #@param {type:"string"}
#2
b = 100
print(b)
def a():
  b = 200
  print(b)
print(b)
a()
print(b)

100
100
200
100

In [ ]:
#3
b = 200
print(b)
def a() :
  b = 100
  print (b)
  return b
print (b)
a()
print (b)

200
200
100
200

In [ ]:
#4
b = 200
print(b)
def a():
    b = 200
    print(b)
    return b
print(b)
b=a()
print(b)

200
200
200
200

In [ ]:
#5
def a():
    print(10)
    b()
    print(40)
def b():
    print(60)
a()

10
60
40

In [ ]:
#6
def a():
  print(10)
  x = b()
  print(x)
  return 100
def b():
  print(30)
  return 50
y = a()
print (y)

10
30
50
100

In [ ]:
#Items II
#1-2 Impresión en forma regresiva:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#2-2 Imprimir el primer número y retornar el último número:
numero1 = input("Escribe el primer número: ")
numero2 = input("Escribe el segundo número: ")
print("EL primero valor ingredado fue: ",format(numero1))
def numero2():
    return numero2

Escribe el primer número: 555
Escribe el segundo número: 2111
EL primero valor ingredado fue:  555

In [ ]:
#3-2 Sumatoria
numeros = (1,2,3,4,5)
s = sum(numeros)
print(s)

15

In [ ]:
#4-2 Valores mayores que el segundo
numeros = (15,18,1,9,12,7,0,6)
print(max(numeros))
print(min(numeros))
promedio = sum(numeros)/len(numeros)
print(promedio)

18
0
8.5